In [99]:
import pandas as pd

# a) read the csv file into a dataframe. Get the shape

In [100]:
df=pd.read_csv("F:\groceries.csv",header=None)

In [101]:
df

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,sausage,chicken,beef,hamburger meat,citrus fruit,grapes,root vegetables,whole milk,butter,whipped/sour cream,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9831,cooking chocolate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9832,chicken,citrus fruit,other vegetables,butter,yogurt,frozen dessert,domestic eggs,rolls/buns,rum,cling film/bags,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9833,semi-finished bread,bottled water,soda,bottled beer,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9834,chicken,tropical fruit,other vegetables,vinegar,shopping bags,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
nf=pd.read_csv("F:\groceries.csv",header=None)
nf.fillna(0,inplace=True)

transactions = []
for i in range(0, 9835):
    transactions.append([str(nf.values[i,j]) for j in range(0, 32) if str(nf.values[i,j])!='0'])
nf.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,citrus fruit,semi-finished bread,margarine,ready soups,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,tropical fruit,yogurt,coffee,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,whole milk,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,pip fruit,yogurt,cream cheese,meat spreads,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,other vegetables,whole milk,condensed milk,long life bakery product,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [102]:
df.shape

(9835, 32)

# b) find the top 20 "sold items" that occur in the dataset

In [103]:
newdf=df.apply(pd.Series.value_counts)
newdf=newdf.sum(axis=1)

newdf=newdf.sort_values(ascending=False)
newdf=newdf.to_frame().reset_index()

newdf=newdf.rename(columns={"index":"item_name",0:"item_count"})

In [104]:
newdf.head(20)

                item_name  item_count
0              whole milk      2513.0
1        other vegetables      1903.0
2              rolls/buns      1809.0
3                    soda      1715.0
4                  yogurt      1372.0
5           bottled water      1087.0
6         root vegetables      1072.0
7          tropical fruit      1032.0
8           shopping bags       969.0
9                 sausage       924.0
10                 pastry       875.0
11           citrus fruit       814.0
12           bottled beer       792.0
13             newspapers       785.0
14            canned beer       764.0
15              pip fruit       744.0
16  fruit/vegetable juice       711.0
17     whipped/sour cream       705.0
18            brown bread       638.0
19          domestic eggs       624.0

In [105]:
summ=newdf.loc[:,'item_count'].sum()
summ

43367.0

# c) find how much of the total sales they account for.

In [106]:
newdf['item_perc']=newdf['item_count']/summ
newdf

                 item_name  item_count  item_perc
0               whole milk      2513.0   0.057947
1         other vegetables      1903.0   0.043881
2               rolls/buns      1809.0   0.041714
3                     soda      1715.0   0.039546
4                   yogurt      1372.0   0.031637
..                     ...         ...        ...
164                   bags         4.0   0.000092
165        kitchen utensil         4.0   0.000092
166  preservation products         2.0   0.000046
167              baby food         1.0   0.000023
168   sound storage medium         1.0   0.000023

[169 rows x 3 columns]

In [107]:
newdf1=newdf[['item_name','item_perc']]
newdf1
datadict=newdf1.set_index('item_name').T.to_dict('list')
datadict['ready soups'][0]

0.00041506214402656395

In [108]:
df['count']=df.count(axis=1)
df[df['count']>=2]

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,count
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
5,whole milk,butter,yogurt,rice,abrasive cleaner,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9829,tropical fruit,other vegetables,domestic eggs,zwieback,ketchup,soda,dishes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
9830,sausage,chicken,beef,hamburger meat,citrus fruit,grapes,root vegetables,whole milk,butter,whipped/sour cream,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
9832,chicken,citrus fruit,other vegetables,butter,yogurt,frozen dessert,domestic eggs,rolls/buns,rum,cling film/bags,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
9833,semi-finished bread,bottled water,soda,bottled beer,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
9834,chicken,tropical fruit,other vegetables,vinegar,shopping bags,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5

In [109]:
#mylist=df.loc[3:5]
#mylist
x=df.T.apply(lambda x: x.dropna().tolist()).tolist()

listnew=[]
for j in range(len(x)):
    mylist=x[j]

    sum1=0
    for i in range(len(mylist)-1):
        
        
        sum1=sum1+datadict[mylist[i]][0]
    listnew.append(sum1)

len(listnew)

9835

In [110]:
df['total_sales']=listnew
df

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,count,total_sales
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,0.036479
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,0.068601
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.057947
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,0.058754
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,0.112643
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,sausage,chicken,beef,hamburger meat,citrus fruit,grapes,root vegetables,whole milk,butter,whipped/sour cream,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,0.246455
9831,cooking chocolate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.000576
9832,chicken,citrus fruit,other vegetables,butter,yogurt,frozen dessert,domestic eggs,rolls/buns,rum,cling film/bags,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,0.178730
9833,semi-finished bread,bottled water,soda,bottled beer,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,0.086886
9834,chicken,tropical fruit,other vegetables,vinegar,shopping bags,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,0.101229

# d)prune_dataset FUNCTION

In [125]:
def prune_dataset(input_df,length_trans,total_sales_perc):
        
        return (pd.DataFrame(df.loc[(df['count']>=length_trans) & (df['total_sales']>total_sales_perc)]))
prune_dataset('df',2,0.4)

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,count,total_sales
1216,frankfurter,sausage,liver loaf,ham,chicken,beef,citrus fruit,tropical fruit,root vegetables,other vegetables,...,pasta,margarine,specialty fat,sugar,soups,skin care,hygiene articles,candles,32,0.430858
3389,frankfurter,chicken,tropical fruit,pip fruit,root vegetables,other vegetables,whole milk,yogurt,domestic eggs,rolls/buns,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,0.409459

# e) Rules generation

In [113]:
pip install apyori

Requirement already satisfied: apyori in c:\users\user\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [136]:
from apyori import apriori

In [140]:
rule_list = apriori(transactions, min_support = 0.01, min_confidence = 0.04, min_lift = 3, min_length = 1)

ks = list(rule_list)
ls = pd.DataFrame(ks)
ls

,items,support,ordered_statistics
0,"(root vegetables, beef)",0.017387,"[((beef), (root vegetables), 0.331395348837209..."
1,"(other vegetables, citrus fruit, root vegetables)",0.010371,"[((other vegetables), (root vegetables, citrus..."
2,"(yogurt, whole milk, curd)",0.010066,"[((curd), (yogurt, whole milk), 0.188931297709..."
3,"(other vegetables, root vegetables, tropical f...",0.012303,"[((other vegetables), (root vegetables, tropic..."
4,"(other vegetables, yogurt, whipped/sour cream)",0.010168,"[((whipped/sour cream), (other vegetables, yog..."

In [141]:
support=ls.support

In [158]:
first_values = []
second_values = []
third_values = []
fourth_value = []

# loop number of rows time and append 1 by 1 value in a separate list.. first and second element was frozenset which need to be converted in list..
for i in range(ls.shape[0]):
    single_list = ls['ordered_statistics'][i][0]
    first_values.append(list(single_list[0]))
    second_values.append(list(single_list[1]))
    third_values.append(single_list[2])
    fourth_value.append(single_list[3])

In [161]:
consequent = pd.DataFrame(first_values)
antecedent= pd.DataFrame(second_values)
confidence=pd.DataFrame(third_values,columns=['confidence'])
lift=pd.DataFrame(fourth_value,columns=['lift'])

In [162]:
df_out = pd.concat([consequent,antecedent,support,confidence,lift], axis=1)
df_out

,0,0,1,support,confidence,lift
0,beef,root vegetables,None,0.017387,0.331395,3.040367
1,other vegetables,root vegetables,citrus fruit,0.010371,0.053600,3.029608
2,curd,yogurt,whole milk,0.010066,0.188931,3.372304
3,other vegetables,root vegetables,tropical fruit,0.012303,0.063584,3.020999
4,whipped/sour cream,other vegetables,yogurt,0.010168,0.141844,3.267062

In [163]:
df_out.fillna(value=' ', inplace=True)
df_out.columns = ['consequent',1,'antecedent','support','confidence','lift']
df_out['consequent'] = df_out['consequent']+str(", ")+df_out[1]+str(", ")
df_out.drop(columns=[1],inplace=True)
df_out

,consequent,antecedent,support,confidence,lift
0,"beef, root vegetables,",,0.017387,0.331395,3.040367
1,"other vegetables, root vegetables,",citrus fruit,0.010371,0.053600,3.029608
2,"curd, yogurt,",whole milk,0.010066,0.188931,3.372304
3,"other vegetables, root vegetables,",tropical fruit,0.012303,0.063584,3.020999
4,"whipped/sour cream, other vegetables,",yogurt,0.010168,0.141844,3.267062